.app-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 15vh;
  justify-content: center;
  background-color: #ECF1FF;
  margin-bottom: 60px;
}

.title {
  font-family: 'Lilita One', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
}

.subtitle {
  font-family: 'Lilita One', cursive;
  font-family: 'Montserrat', sans-serif;
}

.btn-custom {
  background-color: #ECF1FF !important;
  border-radius: 40px;
  color: black !important;
}

.header-btn-custom {
  background-color: #4775FF !important;
  border-radius: 40px;
}

.dropdown-custom {
  background-color: #4775FF !important;
}

.center{
  margin-top: auto !important;
  margin-bottom: auto !important;
}

textarea#exampleTextarea {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}